QToolTip {
    border: 1px solid #76797C;
    background-color: #5A7566;
    color: white;
    padding: 0;
    opacity: 200;
}

QWidget {
    color: #eff0f1;
    background-color: #31363b;
    selection-background-color: #3daee9;
    selection-color: #eff0f1;
    background-clip: border;
    border-image: none;
    border: 0px transparent black;
    outline: 0;
}

QWidget:item:hover {
    background-color: #18465d;
    color: #eff0f1;
}

QWidget:item:selected {
    background-color: #18465d;
}

QCheckBox {
    spacing: 5px;
    outline: none;
    color: #eff0f1;
    margin-bottom: 2px;
}

QCheckBox:disabled {
    color: #76797C;
}

QCheckBox::indicator,
QGroupBox::indicator {
    width: 18px;
    height: 18px;
}

QGroupBox::indicator {
    margin-left: 2px;
}

QCheckBox::indicator:unchecked,
QGroupBox::indicator:unchecked {
    image: url(static/graphics/qssIcons/checkbox_unchecked.png);
}

QCheckBox::indicator:unchecked:hover,
QCheckBox::indicator:unchecked:focus,
QCheckBox::indicator:unchecked:pressed,
QGroupBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked:focus,
QGroupBox::indicator:unchecked:pressed {
    border: none;
    image: url(static/graphics/qssIcons/checkbox_unchecked_focus.png);
}

QCheckBox::indicator:checked,
QGroupBox::indicator:checked {
    image: url(static/graphics/qssIcons/checkbox_checked.png);
}

QCheckBox::indicator:checked:hover,
QCheckBox::indicator:checked:focus,
QCheckBox::indicator:checked:pressed,
QGroupBox::indicator:checked:hover,
QGroupBox::indicator:checked:focus,
QGroupBox::indicator:checked:pressed {
    border: none;
    image: url(static/graphics/qssIcons/checkbox_checked_focus.png);
}

QCheckBox::indicator:indeterminate {
    image: url(static/graphics/qssIcons/checkbox_indeterminate.png);
}

QCheckBox::indicator:indeterminate:focus,
QCheckBox::indicator:indeterminate:hover,
QCheckBox::indicator:indeterminate:pressed {
    image: url(static/graphics/qssIcons/checkbox_indeterminate_focus.png);
}

QCheckBox::indicator:checked:disabled,
QGroupBox::indicator:checked:disabled {
    image: url(static/graphics/qssIcons/checkbox_checked_disabled.png);
}

QCheckBox::indicator:unchecked:disabled,
QGroupBox::indicator:unchecked:disabled {
    image: url(static/graphics/qssIcons/checkbox_unchecked_disabled.png);
}

QRadioButton {
    spacing: 5px;
    outline: none;
    color: #eff0f1;
    margin-bottom: 2px;
}

QRadioButton:disabled {
    color: #76797C;
}

QRadioButton::indicator {
    width: 21px;
    height: 21px;
}

QRadioButton::indicator:unchecked {
    image: url(static/graphics/qssIcons/radio_unchecked.png);
}

QRadioButton::indicator:unchecked:hover,
QRadioButton::indicator:unchecked:focus,
QRadioButton::indicator:unchecked:pressed {
    border: none;
    outline: none;
    image: url(static/graphics/qssIcons/radio_unchecked_focus.png);
}

QRadioButton::indicator:checked {
    border: none;
    outline: none;
    image: url(static/graphics/qssIcons/radio_checked.png);
}

QRadioButton::indicator:checked:hover,
QRadioButton::indicator:checked:focus,
QRadioButton::indicator:checked:pressed {
    border: none;
    outline: none;
    image: url(static/graphics/qssIcons/radio_checked_focus.png);
}

QRadioButton::indicator:checked:disabled {
    outline: none;
    image: url(static/graphics/qssIcons/radio_checked_disabled.png);
}

QRadioButton::indicator:unchecked:disabled {
    image: url(static/graphics/qssIcons/radio_unchecked_disabled.png);
}

QMenuBar {
    background-color: #31363b;
    color: #767c7e;
}

QMenuBar::item {
    border-radius: 3px;
    padding: 4px;
}

QMenuBar::item:selected {
    background-color: #31363b;
    color: #eff0f1;
}

QMenuBar::item:pressed {
    background-color: #3daee9;
    color: #eff0f1;
}

QMenu {
    color: #eff0f1;
    margin: 2px;
}

QMenu::icon {
    margin: 5px;
}

QMenu::item {
    padding: 10px 10px 10px 8px;
    border: 1px solid transparent;
    border-radius: 3px;
}

QMenu::item:selected {
    color: #eff0f1;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator {
    width: 18px;
    height: 18px;
}


/* non-exclusive indicator = check box style indicator
   (see QActionGroup::setExclusive) */

QMenu::indicator:non-exclusive:unchecked {
    image: url(static/graphics/qssIcons/checkbox_unchecked.png);
}

QMenu::indicator:non-exclusive:unchecked:selected {
    image: url(static/graphics/qssIcons/checkbox_unchecked_disabled.png);
}

QMenu::indicator:non-exclusive:checked {
    image: url(static/graphics/qssIcons/checkbox_checked.png);
}

QMenu::indicator:non-exclusive:checked:selected {
    image: url(static/graphics/qssIcons/checkbox_checked_disabled.png);
}


/* exclusive indicator = radio button style indicator (see QActionGroup::setExclusive) */

QMenu::indicator:exclusive:unchecked {
    image: url(static/graphics/qssIcons/radio_unchecked.png);
}

QMenu::indicator:exclusive:unchecked:selected {
    image: url(static/graphics/qssIcons/radio_unchecked_disabled.png);
}

QMenu::indicator:exclusive:checked {
    image: url(static/graphics/qssIcons/radio_checked.png);
}

QMenu::indicator:exclusive:checked:selected {
    image: url(static/graphics/qssIcons/radio_checked_disabled.png);
}

QMenu::right-arrow {
    margin: 5px;
    image: url(static/graphics/qssIcons/right_arrow.png)
}

QWidget:disabled {
    color: #454545;
    background-color: #31363b;
}

QAbstractItemView {
    alternate-background-color: #31363b;
    color: #eff0f1;
    border: 1px solid #3A3939;
    border-radius: 2px;
}

QWidget:focus,
QMenuBar:focus {
    border: 0;
}

QTabWidget:focus,
QCheckBox:focus,
QRadioButton:focus,
QSlider:focus {
    border: none;
}

QLineEdit {
    background-color: #232629;
    padding: 5px;
    border-style: solid;
    border: 1px solid #76797C;
    border-radius: 2px;
    color: #eff0f1;
}

QAbstractItemView QLineEdit {
    padding: 0;
}

QGroupBox {
    border: 1px solid #76797C;
    border-radius: 2px;
    margin-top: 20px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

QAbstractScrollArea {
    border-radius: 2px;
    background-color: transparent;
}

QScrollBar:horizontal {
    height: 15px;
    margin: 3px 15px 3px 15px;
    border: 1px transparent #2A2929;
    border-radius: 4px;
    background-color: transparent;
}

QScrollBar::handle:horizontal {
    background-color: #767c7e;
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::handle:horizontal:hover {
    background-color: #82888a;
}

QScrollBar::add-line:horizontal {
    background: none;
}

QScrollBar::sub-line:horizontal {
    background: none;
}

QScrollBar::add-line:horizontal:hover,
QScrollBar::add-line:horizontal:on {
    background: none;
}

QScrollBar::sub-line:horizontal:hover,
QScrollBar::sub-line:horizontal:on {
    background: none;
}

QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal {
    background: none;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background-color: transparent;
    width: 15px;
    margin: 15px 3px 15px 3px;
    border: 1px transparent #2A2929;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background-color: #767c7e;
    min-height: 5px;
    border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
    background-color: #82888a;
}

QScrollBar::sub-line:vertical {
    background: none;
}

QScrollBar::add-line:vertical {
    background: none;
}

QScrollBar::sub-line:vertical:hover,
QScrollBar::sub-line:vertical:on {
    background: none;
}

QScrollBar::add-line:vertical:hover,
QScrollBar::add-line:vertical:on {
    background: none;
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    background: none;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

QTextEdit {
    background-color: #232629;
    color: #eff0f1;
}

QPlainTextEdit {
    background-color: #232629;
    ;
    color: #eff0f1;
    border-radius: 2px;
    border: 1px solid #76797C;
}

QHeaderView::section {
    background-color: #76797C;
    color: #eff0f1;
    padding: 5px;
    border: 1px solid #76797C;
}

QSizeGrip {
    image: url(static/graphics/qssIcons/sizegrip.png);
    width: 12px;
    height: 12px;
}

QMainWindow::separator {
    background-color: #31363b;
    color: white;
    padding-left: 4px;
    spacing: 2px;
    border: 1px dashed #76797C;
}

QMainWindow::separator:hover {
    background-color: #787876;
    color: white;
    padding-left: 4px;
    border: 1px solid #76797C;
    spacing: 2px;
}

QMenu::separator {
    height: 1px;
    background-color: #76797C;
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QFrame {
    border-radius: 2px;
}

QFrame[frameShape="0"] {
    border-radius: 2px;
    border: 1px transparent #76797C;
}

QStackedWidget {
    border: 1px transparent black;
}

QToolBar {
    border: 1px transparent #393838;
    background: 1px solid #31363b;
    font-weight: bold;
}

QToolBar::handle:horizontal {
    image: url(static/graphics/qssIcons/Hmovetoolbar.png);
}

QToolBar::handle:vertical {
    image: url(static/graphics/qssIcons/Vmovetoolbar.png);
}

QToolBar::separator:horizontal {
    image: url(static/graphics/qssIcons/Hsepartoolbar.png);
}

QToolBar::separator:vertical {
    image: url(static/graphics/qssIcons/Vsepartoolbar.png);
}

QToolButton#qt_toolbar_ext_button {
    background: #58595a;
}

QPushButton {
    color: #767c7e;
    background-color: #232629;
    border: 1px solid #1a1d1e;
    border-radius: 3px;
    min-height: 28px;
}

QPushButton:disabled {
    color: #70767a;
    background-color: #2a2e33;
    border: 1px solid #1a1d1e;
    border-radius: 3px;
}

QPushButton:focus {
    border: 1px solid #1a1d1e;
}

QComboBox {
    selection-background-color: #3daee9;
    padding: 6%;
    color: #767c7e;
    background-color: #232629;
    border: 1px solid #1a1d1e;
    border-radius: 3px;
}
QComboBox:focus {
    border: 1px solid #1a1d1e;
}
QComboBox:disabled {
    color: #70767a;
    background-color: #2a2e33;
}

QPushButton:checked {
    background-color: #76797C;
    border-color: #6A6969;
}

QComboBox:hover,
QPushButton:hover,
QAbstractSpinBox:hover,
QLineEdit:hover,
QTextEdit:hover,
QPlainTextEdit:hover,
QAbstractView:hover,
QTreeView:hover {
    background-color: #26292b;
    color: #eff0f1;
}

QComboBox:on {
    selection-background-color: #4a4a4a;
}

QComboBox QAbstractItemView {
    background-color: #232629;
    border-radius: 3px;
    selection-background-color: #18465d;
}

QPushButton:pressed {
    background-color: #26292b;
}


QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
}

QComboBox::down-arrow {
    image: url(static/graphics/qssIcons/down_arrow_disabled.png);
}

QComboBox::down-arrow:on,
QComboBox::down-arrow:hover,
QComboBox::down-arrow:focus {
    image: url(static/graphics/qssIcons/down_arrow.png);
}

QAbstractSpinBox {
    border: 1px solid #1a1d1e;
    background-color: #232629;
    color: #767c7e;
    border-radius: 3px;
    padding: 6%;
}

QAbstractSpinBox:focus {
    border: 1px solid #1a1d1e;
}
QAbstractSpinBox:disabled {
    color: #70767a;
    background-color: #2a2e33;
}


QAbstractSpinBox:up-button {
    background-color: transparent;
    subcontrol-origin: border;
    subcontrol-position: top right;
}

QAbstractSpinBox:down-button {
    background-color: transparent;
    subcontrol-origin: border;
    subcontrol-position: bottom right;
}

QAbstractSpinBox::up-arrow,
QAbstractSpinBox::up-arrow:disabled,
QAbstractSpinBox::up-arrow:off {
    image: url(static/graphics/qssIcons/up_arrow_disabled.png);
    width: 10px;
    height: 10px;
}

QAbstractSpinBox::up-arrow:hover {
    image: url(static/graphics/qssIcons/up_arrow.png);
}

QAbstractSpinBox::down-arrow,
QAbstractSpinBox::down-arrow:disabled,
QAbstractSpinBox::down-arrow:off {
    image: url(static/graphics/qssIcons/down_arrow_disabled.png);
    width: 10px;
    height: 10px;
}

QAbstractSpinBox::down-arrow:hover {
    image: url(static/graphics/qssIcons/down_arrow.png);
}

QLabel {
    border: 0px solid black;
}

QTabWidget {
    border: 0px transparent black;
}

QTabWidget::pane {
    border: 1px solid #76797C;
    padding: 5px;
    margin: 0px;
}

QTabWidget::tab-bar {
    /* left: 5px; move to the right by 5px */
}

QTabBar {
    qproperty-drawBase: 0;
    border-radius: 3px;
}

QTabBar:focus {
    border: 0px transparent black;
}

QTabBar::close-button {
    image: url(static/graphics/qssIcons/close.png);
    background: transparent;
}

QTabBar::close-button:hover {
    image: url(static/graphics/qssIcons/close-hover.png);
    background: transparent;
}

QTabBar::close-button:pressed {
    image: url(static/graphics/qssIcons/close-pressed.png);
    background: transparent;
}


/* TOP TABS */

QTabBar::tab:top {
    color: #eff0f1;
    border: 1px solid #76797C;
    border-bottom: 1px transparent black;
    background-color: #31363b;
    padding: 5px;
    min-width: 50px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

QTabBar::tab:top:selected {
    color: #eff0f1;
    background-color: #54575B;
    border: 1px solid #76797C;
    border-bottom: 2px solid #3daee9;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

QTabBar::tab:top:!selected:hover {
    background-color: #3daee9;
}


/* BOTTOM TABS */

QTabBar::tab:bottom {
    color: #eff0f1;
    border: 1px solid #76797C;
    border-top: 1px transparent black;
    background-color: #31363b;
    padding: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    min-width: 50px;
}

QTabBar::tab:bottom:selected {
    color: #eff0f1;
    background-color: #54575B;
    border: 1px solid #76797C;
    border-top: 2px solid #3daee9;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

QTabBar::tab:bottom:!selected:hover {
    background-color: #3daee9;
}


/* LEFT TABS */

QTabBar::tab:left {
    color: #eff0f1;
    border: 1px solid #76797C;
    border-left: 1px transparent black;
    background-color: #31363b;
    padding: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    min-height: 50px;
}

QTabBar::tab:left:selected {
    color: #eff0f1;
    background-color: #54575B;
    border: 1px solid #76797C;
    border-left: 2px solid #3daee9;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

QTabBar::tab:left:!selected:hover {
    background-color: #3daee9;
}


/* RIGHT TABS */

QTabBar::tab:right {
    color: #eff0f1;
    border: 1px solid #76797C;
    border-right: 1px transparent black;
    background-color: #31363b;
    padding: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    min-height: 50px;
}

QTabBar::tab:right:selected {
    color: #eff0f1;
    background-color: #54575B;
    border: 1px solid #76797C;
    border-right: 2px solid #3daee9;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

QTabBar::tab:right:!selected:hover {
    background-color: #3daee9;
}

QTabBar QToolButton::right-arrow:enabled {
    image: url(static/graphics/qssIcons/right_arrow.png);
}

QTabBar QToolButton::left-arrow:enabled {
    image: url(static/graphics/qssIcons/left_arrow.png);
}

QTabBar QToolButton::right-arrow:disabled {
    image: url(static/graphics/qssIcons/right_arrow_disabled.png);
}

QTabBar QToolButton::left-arrow:disabled {
    image: url(static/graphics/qssIcons/left_arrow_disabled.png);
}

QDockWidget {
    background: #31363b;
    border: 1px solid #403F3F;
    titlebar-close-icon: url(static/graphics/qssIcons/close.png);
    titlebar-normal-icon: url(static/graphics/qssIcons/undock.png);
}

QDockWidget::close-button,
QDockWidget::float-button {
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent;
}

QDockWidget::close-button:hover,
QDockWidget::float-button:hover {
    background: rgba(255, 255, 255, 10);
}

QDockWidget::close-button:pressed,
QDockWidget::float-button:pressed {
    padding: 1px -1px -1px 1px;
    background: rgba(255, 255, 255, 10);
}

QTreeView,
QListView {
    border: 0;
    background-color: #232629;
    border-radius: 3px;
}

QTreeView:focus,
QListView:focus {
    border: 0;
    border-radius: 3px;
}

QTreeView:branch:selected,
QTreeView:branch:hover {
    background: url(static/graphics/qssIcons/transparent.png);
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(static/graphics/qssIcons/transparent.png);
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(static/graphics/qssIcons/transparent.png);
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(static/graphics/qssIcons/transparent.png);
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    image: url(static/graphics/qssIcons/branch_closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
    image: url(static/graphics/qssIcons/branch_open.png);
}

QTreeView::branch:has-children:!has-siblings:closed:hover,
QTreeView::branch:closed:has-children:has-siblings:hover {
    image: url(static/graphics/qssIcons/branch_closed-on.png);
}

QTreeView::branch:open:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:has-siblings:hover {
    image: url(static/graphics/qssIcons/branch_open-on.png);
}
QListView::item{
    min-height: 20px;
    border-radius: 2px;
}
QListView::item:!selected{
    padding: 6px;
    color: #767c7e;
    background: #232629;
}
QListView::item:selected{
    color: #eff0f1;
    padding: 8px;
    background: #287399;
}

QListView::item:!selected:hover,
QTreeView::item:!selected:hover {
    outline: 0;
    color: #eff0f1;
    padding: 8px;
    background-color: #26292b;
}

QListView::item:selected:hover,
QTreeView::item:selected:hover {
    color: #eff0f1;
}

QTreeView::indicator:checked,
QListView::indicator:checked {
    image: url(static/graphics/qssIcons/checkbox_checked.png);
}

QTreeView::indicator:unchecked,
QListView::indicator:unchecked {
    image: url(static/graphics/qssIcons/checkbox_unchecked.png);
}

QTreeView::indicator:indeterminate,
QListView::indicator:indeterminate {
    image: url(static/graphics/qssIcons/checkbox_indeterminate.png);
}

QTreeView::indicator:checked:hover,
QTreeView::indicator:checked:focus,
QTreeView::indicator:checked:pressed,
QListView::indicator:checked:hover,
QListView::indicator:checked:focus,
QListView::indicator:checked:pressed {
    image: url(static/graphics/qssIcons/checkbox_checked_focus.png);
}

QTreeView::indicator:unchecked:hover,
QTreeView::indicator:unchecked:focus,
QTreeView::indicator:unchecked:pressed,
QListView::indicator:unchecked:hover,
QListView::indicator:unchecked:focus,
QListView::indicator:unchecked:pressed {
    image: url(static/graphics/qssIcons/checkbox_unchecked_focus.png);
}

QTreeView::indicator:indeterminate:hover,
QTreeView::indicator:indeterminate:focus,
QTreeView::indicator:indeterminate:pressed,
QListView::indicator:indeterminate:hover,
QListView::indicator:indeterminate:focus,
QListView::indicator:indeterminate:pressed {
    image: url(static/graphics/qssIcons/checkbox_indeterminate_focus.png);
}

QSlider::groove:horizontal {
    border: 1px solid #565a5e;
    height: 4px;
    background: #565a5e;
    margin: 0px;
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background-color: #232629;
    border: 1px solid transparent;
    width: 16px;
    height: 16px;
    margin: -8px 0;
    border-radius: 9px;
}
QSlider::handle:horizontal:hover {
    background-color: #26292b;
}
QSlider::handle:horizontal:pressed {
    background-color: #232629;
}

QSlider::sub-page:horizontal {
    height: 4px;
    background: #3daee9;
    margin: 0px;
    border-radius: 2px;
}

QSlider::groove:vertical {
    border: 1px solid #565a5e;
    width: 4px;
    background: #565a5e;
    margin: 0px;
    border-radius: 3px;
}

QSlider::handle:vertical {
    background: #232629;
    border: 1px solid #565a5e;
    width: 16px;
    height: 16px;
    margin: 0 -8px;
    border-radius: 9px;
}

QSlider::sub-page:vertical {
    border: 1px solid #565a5e;
    width: 4px;
    background: #3daee9;
    margin: 0px;
    border-radius: 3px;
}

QToolButton {
    background-color: transparent;
    border: 1px transparent #76797C;
    border-radius: 2px;
    margin: 3px;
    padding: 5px;
}

QToolButton[popupMode="1"] {
    /* only for MenuButtonPopup */
    padding-right: 20px;
    /* make way for the popup button */
    border: 1px #76797C;
    border-radius: 5px;
}

QToolButton[popupMode="2"] {
    /* only for InstantPopup */
    padding-right: 10px;
    /* make way for the popup button */
    border: 1px #76797C;
}

QToolButton:hover,
QToolButton::menu-button:hover {
    background-color: transparent;
    border: 1px solid #3daee9;
    padding: 5px;
}

QToolButton:checked,
QToolButton:pressed,
QToolButton::menu-button:pressed {
    background-color: #3daee9;
    border: 1px solid #3daee9;
    padding: 5px;
}


/* the subcontrol below is used only in the InstantPopup or DelayedPopup mode */

QToolButton::menu-indicator {
    image: url(static/graphics/qssIcons/down_arrow.png);
    top: -7px;
    left: -2px;
    /* shift it a bit */
}


/* the subcontrols below are used only in the MenuButtonPopup mode */

QToolButton::menu-button {
    border: 1px transparent #76797C;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* 16px width + 4px for border = 20px allocated above */
    width: 16px;
    outline: none;
}

QToolButton::menu-arrow {
    image: url(static/graphics/qssIcons/down_arrow.png);
}

QToolButton::menu-arrow:open {
    border: 1px solid #76797C;
}

QPushButton::menu-indicator {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    left: 8px;
}

QTableView {
    border: 1px solid #76797C;
    gridline-color: #31363b;
    background-color: #232629;
}

QTableView,
QHeaderView {
    border-radius: 0px;
}

QTableView::item:pressed,
QListView::item:pressed,
QTreeView::item:pressed {
    background: #18465d;
    color: #eff0f1;
}

QTableView::item:selected:active,
QTreeView::item:selected:active,
QListView::item:selected:active {
    background: #287399;
    color: #eff0f1;
}

QHeaderView {
    background-color: #31363b;
    border: 1px transparent;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
}

QHeaderView::section {
    background-color: #31363b;
    color: #eff0f1;
    padding: 5px;
    border: 1px solid #76797C;
    border-radius: 0px;
    text-align: center;
}

QHeaderView::section::vertical::first,
QHeaderView::section::vertical::only-one {
    border-top: 1px solid #76797C;
}

QHeaderView::section::vertical {
    border-top: transparent;
}

QHeaderView::section::horizontal::first,
QHeaderView::section::horizontal::only-one {
    border-left: 1px solid #76797C;
}

QHeaderView::section::horizontal {
    border-left: transparent;
}

QHeaderView::section:checked {
    color: white;
    background-color: #334e5e;
}


/* style the sort indicator */

QHeaderView::down-arrow {
    image: url(static/graphics/qssIcons/down_arrow.png);
}

QHeaderView::up-arrow {
    image: url(static/graphics/qssIcons/up_arrow.png);
}

QTableCornerButton::section {
    background-color: #31363b;
    border: 1px transparent #76797C;
    border-radius: 0px;
}

QToolBox {
    padding: 5px;
    border: 1px transparent black;
}

QToolBox::tab {
    color: #eff0f1;
    background-color: #31363b;
    border: 1px solid #76797C;
    border-bottom: 1px transparent #31363b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QToolBox::tab:selected {
    /* italicize selected tabs */
    font: italic;
    background-color: #31363b;
    border-color: #3daee9;
}

QStatusBar::item {
    border: 0px transparent dark;
}

QFrame[height="3"],
QFrame[width="3"] {
    background-color: #76797C;
}

QSplitter::handle {
    border: 1px dashed #76797C;
}

QSplitter::handle:hover {
    background-color: #787876;
    border: 1px solid #76797C;
}

QSplitter::handle:horizontal {
    width: 1px;
}

QSplitter::handle:vertical {
    height: 1px;
}

QProgressBar {
    border: 1px solid #1a1d1e;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: #05B8CC;
}

QDateEdit {
    selection-background-color: #3daee9;
    border-style: solid;
    border: 1px solid #3375A3;
    border-radius: 2px;
    padding: 1px;
    min-width: 75px;
}

QDateEdit:on {
    padding-top: 3px;
    padding-left: 4px;
    selection-background-color: #4a4a4a;
}

QDateEdit QAbstractItemView {
    background-color: #232629;
    border-radius: 2px;
    border: 1px solid #3375A3;
    selection-background-color: #3daee9;
}

QDateEdit::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QDateEdit::down-arrow {
    image: url(static/graphics/qssIcons/down_arrow_disabled.png);
}

QDateEdit::down-arrow:on,
QDateEdit::down-arrow:hover,
QDateEdit::down-arrow:focus {
    image: url(static/graphics/qssIcons/down_arrow.png);
}

QGraphicsView {
    border: 0;
    border-radius: 3px;
    background-color: #232629;
}

* {
    font-family: Roboto Mono;
    font-size: 12px;
    font-weight: Bold;
}

QGraphicsItem {
    border: 0;
}
